Repository sogrim/technion-sogrim, pull requests merged in 2023-02, with the labels that each got.

#188 fix compute specialization group bank
  packages/server/src/core/degree_status/compute_bank.rs
  packages/server/src/core/types.rs
Labels: :alarm_clock: priority:high, :bulb: bug, :file_folder: core, :bulb: enhancement

#182 Add dark mode
  packages/server/src/api/students.rs
  packages/server/src/api/tests.rs
  packages/server/src/resources/user.rs
  packages/sogrim-app/src/components/App/AnonymousApp.tsx
  packages/sogrim-app/src/components/App/App.tsx
  packages/sogrim-app/src/components/App/UserApp.tsx
  packages/sogrim-app/src/components/Banner/AppStepper.tsx
  packages/sogrim-app/src/components/Banner/BannerCards/ComputeInProgressToggle.tsx
  packages/sogrim-app/src/components/Banner/BannerCards/DegreeMainStatus.tsx
  packages/sogrim-app/src/components/Banner/BannerCards/LinearProgressMultiColorWithLabel.tsx
  packages/sogrim-app/src/components/Banner/BannerCards/LinearProgressWithLabel.tsx
  packages/sogrim-app/src/components/Banner/BannerDialogs/ImportGilion.tsx
  packages/sogrim-app/src/components/Banner/BannerDialogs/SelectCatalog.tsx
  packages/sogrim-app/src/components/Banner/Disclaimer.tsx
  packages/sogrim-app/src/components/Footer/Footer.tsx
  packages/sogrim-app/src/components/Header/AppTitle/AppTitle.tsx
  packages/sogrim-app/src/components/Header/Header.tsx
  packages/sogrim-app/src/components/Header/Menu/RemoveUserDetails.tsx
  packages/sogrim-app/src/components/Header/ToggleDarkMode.tsx
  packages/sogrim-app/src/stores/DataStore.ts
  packages/sogrim-app/src/themes/theme.ts
  packages/sogrim-app/src/types/data-types.ts
Labels: :file_folder: client, :bulb: enhancement, :bulb: UX, :warning: :warning: BREAKING :warning: :warning:

#184 Improve logger
  packages/server/Cargo.lock
  packages/server/Cargo.toml
  packages/server/src/api/tests.rs
  packages/server/src/core/tests.rs
  packages/server/src/db/tests.rs
  packages/server/src/error.rs
  packages/server/src/logger.rs
  packages/server/src/main.rs
  packages/server/src/middleware/auth.rs
  packages/server/src/middleware/tests.rs
Labels: :file_folder: server, :bulb: QOL

#189 Improve DB API
  packages/server/src/api/bo.rs
  packages/server/src/api/students.rs
  packages/server/src/db/mod.rs
  packages/server/src/db/services.rs
  packages/server/src/db/tests.rs
  packages/server/src/resources/admin.rs
  packages/server/src/resources/catalog.rs
  packages/server/src/resources/course.rs
  packages/server/src/resources/user.rs
Labels: :file_folder: server, :bulb: refactor

#190 Upgrade parser with regexes
  packages/docs/pdf_ctrl_c_ctrl_v_6.txt
  packages/docs/pdf_ctrl_c_ctrl_v_7.txt
  packages/server/Cargo.lock
  packages/server/Cargo.toml
  packages/server/src/core/parser.rs
  packages/server/src/core/tests.rs
Labels: :file_folder: core, :bulb: enhancement

#191 Don't enforce english requirement for students who started before 2021
  packages/server/src/core/degree_status/mod.rs
  packages/server/src/core/degree_status/postprocessing.rs
  packages/server/src/core/tests.rs
  packages/server/src/resources/catalog.rs
Labels: :file_folder: core, :bulb: fix

#192 Release v1.3.0
  packages/docs/pdf_ctrl_c_ctrl_v_6.txt
  packages/docs/pdf_ctrl_c_ctrl_v_7.txt
  packages/server/Cargo.lock
  packages/server/Cargo.toml
  packages/server/src/api/bo.rs
  packages/server/src/api/students.rs
  packages/server/src/api/tests.rs
  packages/server/src/core/bank_rule/all.rs
  packages/server/src/core/bank_rule/malag.rs
  packages/server/src/core/bank_rule/sport.rs
  packages/server/src/core/bank_rule/tests.rs
  packages/server/src/core/degree_status/compute_bank.rs
  packages/server/src/core/degree_status/mod.rs
  packages/server/src/core/degree_status/postprocessing.rs
  packages/server/src/core/messages.rs
  packages/server/src/core/parser.rs
  packages/server/src/core/tests.rs
  packages/server/src/core/types.rs
  packages/server/src/db/mod.rs
  packages/server/src/db/services.rs
  packages/server/src/db/tests.rs
  packages/server/src/error.rs
  packages/server/src/logger.rs
  packages/server/src/main.rs
  packages/server/src/middleware/auth.rs
  packages/server/src/middleware/tests.rs
  packages/server/src/resources/admin.rs
  packages/server/src/resources/catalog.rs
  packages/server/src/resources/course.rs
  packages/server/src/resources/tests.rs
  packages/server/src/resources/user.rs
  packages/sogrim-app/package.json
  packages/sogrim-app/src/components/App/AnonymousApp.tsx
  packages/sogrim-app/src/components/App/App.tsx
  packages/sogrim-app/src/components/App/UserApp.tsx
  packages/sogrim-app/src/components/Banner/AppStepper.tsx
  packages/sogrim-app/src/components/Banner/BannerCards/ComputeInProgressToggle.tsx
  packages/sogrim-app/src/components/Banner/BannerCards/DegreeMainStatus.tsx
  packages/sogrim-app/src/components/Banner/BannerCards/LinearProgressMultiColorWithLabel.tsx
  packages/sogrim-app/src/components/Banner/BannerCards/LinearProgressWithLabel.tsx
  packages/sogrim-app/src/components/Banner/BannerDialogs/ImportGilion.tsx
  packages/sogrim-app/src/components/Banner/BannerDialogs/SelectCatalog.tsx
  packages/sogrim-app/src/components/Banner/Disclaimer.tsx
  packages/sogrim-app/src/components/Footer/Footer.tsx
  packages/sogrim-app/src/components/Footer/changes.ts
  packages/sogrim-app/src/components/Header/AppTitle/AppTitle.tsx
  packages/sogrim-app/src/components/Header/Header.tsx
  packages/sogrim-app/src/components/Header/Menu/RemoveUserDetails.tsx
  packages/sogrim-app/src/components/Header/ToggleDarkMode.tsx
  packages/sogrim-app/src/components/Pages/SemestersPage/SemesterGrid/AddNewRow.tsx
  packages/sogrim-app/src/components/Pages/SemestersPage/SemesterGrid/CourseAutocomplete.tsx
  packages/sogrim-app/src/hooks/apiHooks/useCoursesByFilter.tsx
  packages/sogrim-app/src/stores/DataStore.ts
  packages/sogrim-app/src/themes/theme.ts
  packages/sogrim-app/src/types/data-types.ts
Labels: release:minor

#193 Add `get_catalog_by_faculty` API endpoint
  packages/server/src/api/students.rs
  packages/server/src/api/tests.rs
  packages/server/src/main.rs
  packages/server/src/resources/catalog.rs
Labels: :file_folder: server, :bulb: feature

#195 Add `times_repeated` counter to `CourseStatus`
  packages/server/src/core/parser.rs
  packages/server/src/core/tests.rs
  packages/server/src/resources/course.rs
Labels: :file_folder: core, :bulb: enhancement, :warning: :warning: BREAKING :warning: :warning:

#199 Update frontend types
  packages/sogrim-app/src/stores/DataStore.ts
  packages/sogrim-app/src/types/data-types.ts
Labels: :file_folder: client

#197 `Frontend` | Stepper -> Intro
  packages/sogrim-app/.gitignore
  packages/sogrim-app/src/components/App/UserApp.tsx
  packages/sogrim-app/src/components/AppPages/AppPages.tsx
  packages/sogrim-app/src/components/Intro/Intro.tsx
  packages/sogrim-app/src/components/Intro/IntroStepper.tsx
  packages/sogrim-app/src/components/Intro/IntroSteps/ChooseCatalog/CatalogsLinks.tsx
  packages/sogrim-app/src/components/Intro/IntroSteps/ChooseCatalog/ChooseCatalog.tsx
  packages/sogrim-app/src/components/Intro/IntroSteps/ImportGradeSheet/ErrorDuringImport.tsx
  packages/sogrim-app/src/components/Intro/IntroSteps/ImportGradeSheet/HowToImport.tsx
  packages/sogrim-app/src/components/Intro/IntroSteps/ImportGradeSheet/ImportGradeSheet.tsx
  packages/sogrim-app/src/components/Intro/IntroSteps/IntroStepCard.tsx
  packages/sogrim-app/src/components/Intro/IntroSteps/IntroSteps.tsx
  packages/sogrim-app/src/components/Intro/IntroSteps/TriggerCompute/TriggerCompute.tsx
  packages/sogrim-app/src/hooks/apiHooks/useComputeEndGame.tsx
  packages/sogrim-app/src/stores/DataStore.ts
Labels: :file_folder: client

#194 Add medicine tags
  packages/server/src/core/degree_status/postprocessing.rs
  packages/server/src/core/messages.rs
  packages/server/src/core/parser.rs
  packages/server/src/resources/catalog.rs
  packages/server/src/resources/course.rs
Labels: :file_folder: core, :bulb: feature

#200 Fix parser sanity validation
  packages/docs/pdf_ctrl_c_ctrl_v_8.txt
  packages/server/src/core/parser.rs
  packages/server/src/core/tests.rs
Labels: :file_folder: core, :bulb: fix

#202 Add warning messages card
  packages/sogrim-app/src/components/Pages/RequirementPage/CreditOverflow.tsx
  packages/sogrim-app/src/components/Pages/RequirementPage/ExemptionsAndCredits.tsx
  packages/sogrim-app/src/components/Pages/RequirementPage/MessagesAccordion.tsx
  packages/sogrim-app/src/components/Pages/RequirementPage/RequirementsTab.tsx
  packages/sogrim-app/src/components/Pages/RequirementPage/WarningMessages.tsx
  packages/sogrim-app/src/themes/theme.ts
Labels: :file_folder: client, :bulb: UX

#196 Add new parse & compute admin API
  packages/server/src/api/admins.rs
  packages/server/src/api/mod.rs
  packages/server/src/api/students.rs
  packages/server/src/api/tests.rs
  packages/server/src/core/degree_status/mod.rs
  packages/server/src/core/tests.rs
  packages/server/src/main.rs
  packages/server/src/resources/admin.rs
Labels: :file_folder: server, :bulb: feature

#203 Modify medicine warning messages
  packages/server/src/core/messages.rs
Labels: :bulb: UX

#208 Add `Permissions` enum to `User`
  packages/server/src/api/admins.rs
  packages/server/src/api/bo.rs
  packages/server/src/api/tests.rs
  packages/server/src/error.rs
  packages/server/src/middleware/from_request.rs
  packages/server/src/resources/admin.rs
  packages/server/src/resources/mod.rs
  packages/server/src/resources/user.rs
Labels: :file_folder: server, :warning: :warning: BREAKING :warning: :warning:

#212 Fix average calculation
  packages/server/src/core/degree_status/postprocessing.rs
  packages/server/src/core/messages.rs
  packages/server/src/core/tests.rs
  packages/server/src/resources/course.rs
Labels: :alarm_clock: priority:high, :file_folder: core, :bulb: enhancement
